<!DOCTYPE HTML>
<html>
	<head>
		<title>LudumDare 33</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #000000;
				
			}
			canvas {
				padding-left: 0;
				padding-right: 0;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
				display: block;
				width: 800px;
			}
		</style>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/pixi.js"></script>
		<script src="static/js/howler.min.js"></script>
		<script src="static/js/game.js"></script>
	</head>
	<body>
	</body>
</html>

